@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap');

*, *::after, *::before{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
:root{
    --primary: #4D96A9;
    --primary-one: #8FE3F9;
    --secondary: #855FB1;
    --secondary-one: #D9B8FF;
    --dark: #28283D;
    --dark-one: #87879D;
    --light: #FAFAFA;
}