@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap');


*, *::after, *::before{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
:root{
    --primary: #4D96A9;
    --primary-50: #4D96A9cc;
    --primary-one: #8FE3F9;
    --secondary: #855FB1;
    --secondary-one: #D9B8FF;
    --dark: #28283D;
    --dark-one: #87879D;
    --light: #FAFAFA;
    --timeframe: 0.4s ease all
}

body{
    background-color: var(--light);
    font-family: 'Red Hat Display' ,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero{
    min-height: 400px;
}

section{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, auto));
    grid-template-rows: 200px;
    padding: 100px;
    padding-bottom: 0;
    justify-content: center;
    grid-gap: 20px;
    position: relative;
}
section img{
    object-fit: contain;
    border-radius: 10px;
}

article{
    text-align: center;
    width: 40%;
    margin: 100px auto;
}
article h2{
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    margin: 30px 0;
}
article h5{
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 900;
}

.divider{
    width: 100%;
    position: absolute;
    top: -80px;
}
.divider_stick{
    height: 50px;
    width: 1px;
    margin: auto;
    background-color: var(--dark-one);
}
.ball{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid var(--dark-one);
    color: var(--dark-one);
    font-weight: bold;
    background-color: var(--light);
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    /* margin-top: -25px; */
}

/* FOOTER */

footer{
    position: relative;
    min-height: 300px;
    background-image: url('../images/meet/footer_img.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}
.footer-body{
    background-color: var(--primary-50);
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 350px));
    grid-gap: 50px;
    padding: 100px;
    align-items: center;
    justify-content: center;
}

.footer-body h2{
    font-size: 40px;
}
.footer-body p{
    font-size: 18px;
    font-weight: 500;
}
.btn-secondary, .btn-primary{
    padding: 20px 40px;
    background-color: var(--secondary);
    text-decoration: none;
    color: white;
    display: inline-block;
    border-radius: 30px;
    transition: var(--timeframe);
    font-weight: bold;
}
.btn-secondary > span{
    font-weight: normal;
    color: var(--secondary-one);
    transition: var(--timeframe);
}
.btn-secondary:hover, .btn-secondary:hover > span{
    background-color: var(--secondary-one);
    color: var(--dark);
}

.btn-primary{
    background-color: var(--primary);
}

.btn-primary > span{
    font-weight: normal;
    color: var(--primary-one);
    transition: var(--timeframe);
}
.btn-primary:hover, .btn-primary:hover > span{
    background-color: var(--primary-one);
    color: var(--dark);
}

.footer-body div{
    display: flex;
    justify-content: center;
}