*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(17, 1fr);
    width: 95%;
    margin: 20px auto;
    grid-gap: 5px;
}

.container div{
    background-color: #B7DBFD;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

.he{
    grid-column: -1;
}
.b{
    grid-column: -6;
}
.al{
    grid-column-start: -6;
}
.hf{
    grid-column-start: 4;
}
#color-h{
    background-color: #FEFBBC;
}
#color-li{
    background-color: #F5C7C6;
}
#color-be{
    background-color: #D1D1FE;
}
#color-al{
    background-color: #BAF8BC;
}
#color-he{
    background-color: #FBE3BA;
}
#color-c{
    background-color: #FEFBB9;
}

#color-f{
    background-color: #C0FBEB;
}
#color-b{
    background-color: tan;
}
div>span{
    font-size: 12px;
    display: block;
    font-weight: bold;
    padding-top: 5px;
    text-transform: uppercase;
    align-self: flex-end;
}