*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template: repeat(10, 80px) / repeat(17, 1fr);
    width: 95%;
    margin: 20px auto;
    grid-gap: 10px;
}

.container div{
    background-color: burlywood;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px
}
.he{
    grid-column: -1;
}
.b{
    grid-column: -6;
}
.al{
    grid-column-start: -6;
}
.hf{
    grid-column-start: 4;
}